.employees-page{

    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    position: absolute;
    left: 25%;
    top: 20%;


    &__title{
        margin-bottom: 40px;
        color: $color-secondary;
        font-size: 3rem;
    }
}