.employees-page{

    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    margin-left: 300px;

    &__title{
        margin-bottom: 40px;
        margin-top: 80px;
        color: $color-secondary;
        font-size: 3rem;
    }
}