.Error404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:$color-secondary ;
    height: 600px;
    gap: 160px;
    min-height: 1160px;

}
.Content-error-404{
    text-align: center;
}
.Number-error-404{
font-style: normal;
font-weight: bold;
font-size: 200px;
line-height: 142px;
}

.Text-error-404{
    color: $color-secondary;
font-size: 30px;
line-height: 142%
}



.Back-Home{
    color: $color-secondary;
    font-size: 20px;
    
}
