body{
    background-color:$color-primary;
}
.home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 40%;
    top: 20%;
    &__title{
        color: $color-secondary;
        font-size: 5rem;
    }

    &__subtitle{
        color: $color-secondary;
        font-size: 3rem;
    }
}